@keyframes slideUpGrow {
  0% {
    transform: translate3d(0, 100%, 0) scale3d(.6, .6, .6);
    opacity: 0;
  }

  10% {
    transform: translate3d(0, 100%, 0) scale3d(.6, .6, .6);
    opacity: 1;
  }

  50% {
    transform: translate3d(0, 0, 0) scale3d(.6, .6, .6);
  }

  100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

@keyframes slideUp {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideUpM {
  0% {
    transform: translate3d(0, 20%, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideDownUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(3px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-3px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  25% {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }


  100% {
    transform: translateX(-60vw);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  25% {
    opacity: 1;
    transform: translateX(0);
  }

  50% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    transform: translateX(60vw);
  }
}

@keyframes visibleIn {
  0% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}